html {
  background-color: aliceblue;
  font-family: sans-serif;
}

body {
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
.tag {
  margin: 0.25em;
  border: dotted 1px #a1a1a1;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.15em;
  background-color: #f8fcfd;
}
.nav-links {
  display: none;
}

.nav-links a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #007b91;
  border-radius: 20px;
}
:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}
html.dark {
  background-color: #500915;
  color: #fff;
}
.dark .menu {
  background-color: #fff;
  color: #e00505;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #007b91;
}
@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
  }
  .menu {
    display: none;
  }
}
