---
---
<div id="main-menu" class="nav-links w-100 m-0 text-center p-50 text-lg font-bold text-white-600 md: !p-0  flex justify-center text-[30px]">
<a class="pt-3 pb-3"href="/">Home</a>
<a class="pt-3 pb-3" href="/about/">About</a>
<a class="pt-3 pb-3" href="/blog/">Blog</a>
<a class="pt-3 pb-3" href="/tags/">Tags</a>
</div>